In [13]:
from src.utils import connect_api
import pandas as pd

In [14]:
# Info of teams
req_teams = connect_api(f'https://api.opendota.com/api/teams')
df_teams = pd.DataFrame(req_teams)

# Info of pro matches
req_pro_matches = connect_api(f'https://api.opendota.com/api/proMatches')
df_pro_matches = pd.DataFrame(req_pro_matches)

# Info of pro players
req_pro_players = connect_api(f'https://api.opendota.com/api/proPlayers')
df_pro_players = pd.DataFrame(req_pro_players)

In [ ]:
# Info of teams matches
id_of_teams = 36
req_teams_matches = connect_api(f'https://api.opendota.com/api/teams/{id_of_teams}/matches')
df_teams_matches = pd.DataFrame(req_teams_matches)

# Info of teams heroes
req_teams_heroes = connect_api(f'https://api.opendota.com/api/teams/{id_of_teams}/heroes')
df_teams_heroes = pd.DataFrame(req_teams_heroes)

# Info of team players
req_team_players = connect_api(f'https://api.opendota.com/api/teams/{id_of_teams}/players')
df_team_players = pd.DataFrame(req_team_players)

In [28]:
df_teams.head()

,team_id,rating,wins,losses,last_match_time,name,tag,logo_url
0,9247354,1743.16,144,41,1713122679,Team Falcons,FLCN,https://steamusercontent-a.akamaihd.net/ugc/23...
1,8261500,1568.18,262,246,1713122679,Xtreme Gaming,XG,https://steamusercontent-a.akamaihd.net/ugc/20...
2,8255888,1521.52,300,257,1712770143,BetBoom Team,BetBoom,https://steamusercontent-a.akamaihd.net/ugc/20...
3,2163,1521.24,1381,924,1713038100,Team Liquid,Liquid,https://steamcdn-a.akamaihd.net/apps/dota2/ima...
4,7412785,1520.12,267,1,1639928575,CyberBonch-1,CB,https://steamusercontent-a.akamaihd.net/ugc/18...

In [27]:
df_pro_matches.head()

,match_id,duration,start_time,radiant_team_id,radiant_name,dire_team_id,dire_name,leagueid,league_name,series_id,series_type,radiant_score,dire_score,radiant_win,version
0,7688054176,2256,1713223083,8849850.0,HELLBEAR HEROES,8849833.0,VERTEX PACK,16109,Dota 2 Space League,869267,1,43,31,True,21
1,7688051508,2055,1713222895,8737621.0,Lava Esports,8406842.0,GRIN Esports,15899,EPL World Series: America 2023-2024 Season,869278,1,38,15,True,21
2,7688027340,2176,1713220147,8849833.0,VERTEX PACK,8849850.0,HELLBEAR HEROES,16109,Dota 2 Space League,869267,1,33,33,False,21
3,7688014871,1506,1713218896,9381358.0,Estar Backs!,8737621.0,Lava Esports,15899,EPL World Series: America 2023-2024 Season,869258,1,32,11,True,21
4,7687995666,2048,1713217325,8849850.0,HELLBEAR HEROES,8849833.0,VERTEX PACK,16109,Dota 2 Space League,869267,1,28,35,False,21

In [26]:
df_pro_players.head()

,account_id,steamid,avatar,avatarmedium,avatarfull,profileurl,personaname,last_login,full_history_time,cheese,...,plus,name,country_code,fantasy_role,team_id,team_name,team_tag,is_locked,is_pro,locked_until
0,1296625,76561197961562353,https://avatars.steamstatic.com/f8ddb6ead64a02...,https://avatars.steamstatic.com/f8ddb6ead64a02...,https://avatars.steamstatic.com/f8ddb6ead64a02...,https://steamcommunity.com/id/Newsham/,Newsham,2023-10-21T21:51:11.911Z,2024-03-28T12:46:55.612Z,0.0,...,True,Newsham,,2,8944221,Fart Studios,FRT,True,True,None
1,16497807,76561197976763535,https://avatars.steamstatic.com/a0aca11d96d24e...,https://avatars.steamstatic.com/a0aca11d96d24e...,https://avatars.steamstatic.com/a0aca11d96d24e...,https://steamcommunity.com/id/to_Ofu/,tOfu,2020-12-05T02:26:53.827Z,2024-04-13T15:52:01.983Z,0.0,...,True,tOfu,de,2,8599101,Gaimin Gladiators,GG,True,True,None
2,18180970,76561197978446698,https://avatars.steamstatic.com/1e27bcd82490cb...,https://avatars.steamstatic.com/1e27bcd82490cb...,https://avatars.steamstatic.com/1e27bcd82490cb...,https://steamcommunity.com/profiles/7656119797...,skruva den som pabbe,2018-12-09T23:16:04.851Z,2024-03-14T06:39:30.364Z,0.0,...,False,Handsken,se,2,9368468,Rest Farmers,zzz,True,True,None
3,27178898,76561197987444626,https://avatars.steamstatic.com/7d58b428e4de43...,https://avatars.steamstatic.com/7d58b428e4de43...,https://avatars.steamstatic.com/7d58b428e4de43...,https://steamcommunity.com/profiles/7656119798...,Mono Agressive,2023-02-14T18:09:36.116Z,2024-04-14T21:53:48.574Z,0.0,...,False,Skylark,,1,9280056,JustBetter,JB,True,True,None
4,34505203,76561197994770931,https://avatars.steamstatic.com/a14bbfea3f9a59...,https://avatars.steamstatic.com/a14bbfea3f9a59...,https://avatars.steamstatic.com/a14bbfea3f9a59...,https://steamcommunity.com/id/MinD_ContRoL/,deathmatch,None,2024-01-15T14:52:53.229Z,0.0,...,True,mc,bg,1,8291895,Tundra Esports,Tundra,True,True,None

In [25]:
df_teams_matches.head()

,match_id,radiant_win,radiant_score,dire_score,radiant,duration,start_time,leagueid,league_name,cluster,opposing_team_id,opposing_team_name,opposing_team_logo
0,7657812745,True,31,17,False,2793,1711557618,16480,PGL Wallachia Season #1 EEU Closed Qualifiers,272,8724984,Virtus.pro,https://steamusercontent-a.akamaihd.net/ugc/17...
1,7657710784,True,27,11,False,2362,1711553703,16480,PGL Wallachia Season #1 EEU Closed Qualifiers,274,8724984,Virtus.pro,https://steamusercontent-a.akamaihd.net/ugc/17...
2,7657200748,True,31,16,True,2302,1711531883,16480,PGL Wallachia Season #1 EEU Closed Qualifiers,181,9373270,Night Pulse,https://steamusercontent-a.akamaihd.net/ugc/24...
3,7657139423,True,27,11,True,2357,1711527892,16480,PGL Wallachia Season #1 EEU Closed Qualifiers,181,9373270,Night Pulse,https://steamusercontent-a.akamaihd.net/ugc/24...
4,7657072044,False,25,29,True,3335,1711522973,16480,PGL Wallachia Season #1 EEU Closed Qualifiers,183,9373270,Night Pulse,https://steamusercontent-a.akamaihd.net/ugc/24...

In [24]:
df_teams_heroes.head()

   hero_id localized_name  games_played  wins
0       86         Rubick           322   179
1       65       Batrider           233   132
2       13           Puck           228   128
3       66           Chen           228   149
4       54    Lifestealer           222   143

In [29]:
df_team_players.head()

   account_id      name  games_played  wins is_current_team_member
0    70388657     Dendi          1467   831                  False
1    89625472      None           913   545                   None
2    86723143      None           734   437                   None
3   117421467  SoNNeikO           723   376                  False
4    87278757    Puppey           640   408                  False